<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.3.3.13295" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="ServiceStack" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Host.AspNet" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net451" />
  <package id="Simple.Data.Ado" version="0.18.3.1" targetFramework="net451" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net451" />
  <package id="Simple.Data.Sqlite" version="0.18.3.1" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net451" />
  <package id="WebActivator" version="1.5.3" targetFramework="net451" />
</packages>