<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net451" />
  <package id="embedly" version="0.7" targetFramework="net451" />
  <package id="Rx-Main" version="1.0.11226" targetFramework="net451" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net451" />
</packages>